<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magento_PDFGenerator::template" title="PDF" translate="title" module="Magento_PDFGenerator" sortOrder="25"
             dependsOnModule="Magento_Backend" resource="Magento_PDFGenerator::template"
             action="generator/template/index" />
    </menu>
</config>
